[submodule "Tools/TeensyLoader"]
	path = Tools/TeensyLoader
	url = https://github.com/PaulStoffregen/teensy_loader_cli.git
[submodule "PlatformUtils"]
	path = PlatformUtils
	url = https://github.com/helindustries/hi-make-platform-utils.git
